*{
	margin: 0px;
	padding: 0px;
}

input[type="text"]{
	float: right;
}
#pag2, #datos, #estadisticas{
	padding: 10px;
}

canvas {
	float: left;
	margin: 10px;
	padding: 10px;
}

#formulario{
	float:right;
}

#botones{
	float:right;
	background-color:red;
}
.boton{
	color:blue;
}
.botonactivo{
	color:black;
}

a:hover, a:focus{
	text-decoration:none;
	background-color:rgb(255,255,255);
	cursor: default;
}
#nservidor, #cola, #vdelta, #vmua, #vvelocidad, #vgeneral{
	height:20px;
	width: 40px;
}

.estadisticas1, .estadisticas2, .estadisticas3, .estadisticas4, .estadisticas5, .estadisticas6, .estadisticas7, .estadisticas8, .estadisticas9, .estadisticas10, .estadisticas11, .estadisticas12,.estadisticas13,.estadisticas14,.estadisticas15,.estadisticas16{
	display: inline;
}

input[type="radio"]{
	margin-right:10px;
	margin-bottom:1em;
	margin-top:1em;
}