*{
	padding: 0px;
	margin: 0px;
}

input{
	float: right;
}
#pag2, #datos, #estadisticas{
	padding: 10px;
}
/*
canvas {
	float: left;
	height: 100%;
	width: 100%;
}
*/
canvas, .canvas{
	float: left;
	padding: 10px 10px 10px 10px;
	margin: 10px 10px 10px 10px;
}

.tabstabbed{
	width: 300px;
	height: 2000px;
}


#formulario{
	float:right;
}

#botones{
	float:right;
	background-color:red;
}
.boton{
	color:blue;
}
.botonactivo{
	color:black;
}

a:hover, a:focus{
	text-decoration:none;
	background-color:rgb(255,255,255);
	cursor: default;
	/*color:#0088cc;*/
}
#nservidor, #cola, #vdelta, #vmua, #vvelocidad, #vgeneral{
	height:20px;
	width: 40px;
}


